init {
    color: rgb(62, 37, 205);
  }
  .sec {
    color: rgba(46, 23, 179, 0.984);
  }
  .title{
      margin-top: 200px;
      margin: 20px;
  }
  .title3{
      margin:20px;
  }
  .para{
      margin-top: 20px;
      color: rgba(1, 0, 2, 0.862);
  }